@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* 색상테마 */
  --primary-color: rgb(153, 169, 143);
  --secondary1-color: rgb(193, 208, 181);
  --secondary2-color: rgb(214, 232, 219);
  --accent1-color: rgb(255, 248, 222);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 
CSS 작성 규칙
1. 페이지별로 작성
2. 자주 쓰이는건 변수로

*/

/* 공통 */
.page {
  min-height: 100vh;
  width: 100vw;
  padding: 3em;
  display: flex;
  flex-direction: column;
}

/* MainPage Style */

/* MyPage Style */

/* Login Style */
.login-modal input {
  min-width: 200px;
  background-color: transparent;
  /* border-bottom: 2px solid black; */
  outline: none;
}

.login-modal svg {
  color: gray;
}

/* 
 */

.perspective-text {
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #f07e6e;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #84cdfa;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #5ad1cd;
}

.perspective-line:nth-child(5) {
  left: 145px;
}

/* 
 */

@import url("https://fonts.googleapis.com/css?family=Raleway:700,900");

* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}

/* Sections */
.section {
  height: 100vh;
  min-height: 500px;
  position: relative;
}

/* Containers */
.content-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  clip: rect(auto, auto, auto, auto);
  pointer-events: none;
}
.content-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0;
  z-index: 99;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-perspective: 1000;
  perspective: 1000;
  pointer-events: all;
}
.content-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Aesthetics */
.top-section {
  background: linear-gradient(135deg, var(--accent1-color) 0%, var(--primary-color) 100%);
}
.bottom-section {
  background: #d4fef2;
}
.section h1 {
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.section p,
.section a {
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
}

.content-theme-dark h1 {
  color: #254336;
  text-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}
.content-theme-dark p,
.content-theme-dark a {
  color: #254336;
}
.content-theme-light h1 {
  color: #062930;
  text-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}
.content-theme-light p,
.content-theme-light a {
  color: #728e93;
}
